:root {
  --color-main-400: hsl(38, 74%, 53%);
  --color-light-200:hsl(146, 75%, 54%);
  --color-light-300: hsl(146, 29%, 42%);
  --color-dark-600:hsl(276, 74%, 53%);
  --color-dark-700: hsl(39, 17%, 33%);
  --color-dark-800: hsl(276, 17%, 33%);

  --font-family-main: "ice-cream-standard", sans-serif;
  --font-family-second: "blanket", sans-serif;
  --font-family-third: "puffin-arcade-chrome", sans-serif;

  --font-family-header: var(--font-family-main);
  --font-family-footer: var(--font-family-main);
  --font-family-body: var(--font-family-main);
  --font-family-a: var(--font-family-main);
  --font-family-button: var(--font-family-main);

  --font-size-400: 1rem;
  --font-size-500: 1.5rem;
  --font-size-600: 1.75rem;
  --font-size-700: 2.5rem;
  --font-size-800: 4.5rem;
 
  --font-size-heading1: var(--font-size-800);
  --font-size-heading2: var(--font-size-700);
  --font-size-heading3: var(--font-size-600);
  --font-size-main: var(--font-size-400);
  --font-size-header: var(--font-size-600);
  --font-size-footer: var(--font-size-400);
  --font-size-button: var(--font-size-400);
}
/* ================== Contents ==============================
1 Utility Classes
  Colors
  Fonts
  Containers
  Flow
  Alignment
2 Defaults
3 Modules
  Links
  Buttons
  Inputs
  Keyframes
4 Media Queries
  Non-Mobile
  Mobile
  Tablet
5 Layout
  Header
  Main
  Footer 
/* 1 Utility Classes */
  /* Colors */

.color-white-100 {
  color: white;
}
.color-light-200 {
  color: var(--color-light-200);
}
.color-light-300 {
  color: var(--color-light-300);
}
.color-main-400 {
  color: var(--color-main-400);
}
.color-dark-600 {
  color: var(--color-dark-600);
}
.color-dark-700 {
  color: var(--color-dark-700);
}
.color-dark-800 {
  color: var(--color-dark-800);
}
.color-black-900 {
  color: black;
}
.background-white-100 {
  background-color: white;
}
.background-light-200 {
  background-color: var(--color-light-200);
}
.background-light-300 {
  background-color: var(--color-light-300);
}
.background-main-400 {
  background-color: var(--color-main-400);
}
.background-dark-600 {
  background-color: var(--color-dark-600);
}
.background-dark-700 {
  background-color: var(--color-dark-700);
}
.background-dark-800 {
  background-color: var(--color-dark-800);
}
.background-black-900 {
  background-color: black;
}

  /* fonts */

.font-size-heading1 {
  font-size: var(--font-size-heading1);
}
.font-size-heading2 {
  font-size: var(--font-size-heading2);
}
.font-size-heading3 {
  font-size: var(--font-size-heading3);
}
.font-size-main {
  font-size: var(--font-size-main);
}
.font-size-header {
  font-size: var(--font-size-header);
}
.font-size-footer {
  font-size: var(--font-size-footer);
}
.font-family-header {
  font-family: var(--font-family-header);
}
.font-family-footer {
  font-family: var(--font-family-footer);
}
.font-family-main {
  font-family: var(--font-family-main);
}
.font-family-second {
  font-family: var(--font-family-second);
}
.font-family-third {
  font-family: var(--font-family-third);
}
.font-family-footer {
  font-family: var(--font-family-footer);
}
.font-family-a {
  font-family: var(--font-family-a);
}
.font-family-button {
  font-family: var(--font-family-button);
}

  /* containers*/

.flex-container {
  display: flex;
}
.grid-container {
  display: grid;
}

  /* flow */

.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-based {
  flex: 1 1 100%;
}
.overflow-scroll {
  overflow: scroll;
}
.wrapper1 {
  margin-inline: auto;
  padding-inline: 1rem;
}
.wrapper2 {
  margin-inline: auto;
  padding-inline: 2rem;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
  /* alignment */

.center-align-items {
  align-items: center;
}
.center-align-content {
  align-content: center;
}
.center-align-self {
  align-self: center;
}
.center-justify-items {
  justify-items: center;
}
.center-justify-content {
  justify-content: center;
}
.center-justify-self {
  justify-self: center;
}
.space-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.height-100 {
  height: 100%;
}

/* 2 Defaults */

  /* set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--color-dark-800);
  font-family: var(--font-family-main);
  
}

  /* images */

.logo img {
  width: 4rem;
  height: auto;
}
  
.image-mission {
  width: 100%;
  height: auto;
  margin: auto auto;
}

  /* remove default margins */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

  /* box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

  /* make images easier to layout */

img,
picture,
svg {
  display: block;
}

  /* remove list styles on ol, li w/ a */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}
  /* remove bullets and display nav list inline */
  .nav-main li {
    display: inline;
    list-style-type: none;
    padding-inline: .5rem;
  }

  /* remove animations for those who set preference */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
      scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* 3 Modules */

  /* links */

  a {
    text-decoration: none;
    color: var(--color-dark-800);
}
a:hover {
    color: var(--color-dark-700);
}
a:active {
    color: var(--color-light-200);
}

    /*buttons*/

button {
    background-color: var(--color-dark-800);
    color: white;
    font-family: var(--font-family-button);
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 3px 3px black, inset 2px 2px var(--color-dark-800);
    padding-inline: .5rem;
}
button:hover {
    color: var(--color-dark-700);
    box-shadow: 0 3px 3px black, inset 2px 2px var(--color-dark-800);

}
button:active {
    color: var(--color-light-200);
    box-shadow: 0 0px 0px black, inset 2px 2px var(--color-dark-800);
    margin-top: 3px;
    margin-bottom: -3px;
}

    /* inputs */

label {
    color: white;
}

input:hover, 
input:focus {
    border: 1px solid black;
}

    /* keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0.75;
  }

  90% {
    opacity: 0.8
  }

  95% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rightLeft {
  0% {
    opacity: 0;
    transform: translate(0px, 10rem);
  }

  30% {
 
  }
  70% {
    opacity: 100;
    transform: translate(0, 0px);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  65% {
    transform: scale(0.1);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
    
.animation-fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}

.animation-rightLeft {
  animation-name: rightLeft;
  animation-duration: 4s;
}

.animation-bounceIn {
  animation-name: bounceIn;
  animation-duration: 5s;
}

/* 4 media queries */
    /* non mobile */
        
@media (min-width: 600px) {
  .mobile {
      display: none;
  }
  main {
      height: 50rem;
  }

  
}
        /* mobile */

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
  main {
    height: 50rem;
  }
}

        /* tablet */



/*  5 layout */

.splitter {
  width: 50%;
}

    /* header section  */



header .right-column {
  justify-items: end;
}

header img {
  padding-right: 1rem;
}

    /* main section  */

.left-column {
  width: 50%;
}

.right-column {
  width: 50%;
  background-color: var(--color-light-200);
}

.card-outer {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  transform: rotate(45deg);
}

.card-inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transform: rotate(-45deg);
  align-content: center;
  margin: 0 auto;
}

.card-inner img {
  width: 18rem;
  height: auto;
}

.hero-ctas {
  position: relative;
  bottom: 20%;
}

/* portfolio section */

#portfolio {
  display: none;
  position: relative;
  bottom: 90%;
  
}

#portfolio img {
  width: 30rem;

}

#portfolio .grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 100%;
}

#portfolio .box {
  border: 1px solid black;
}

#portfolio a {
  grid-column: 1 / span 1;
}

#portfolio b {
  grid-column: 2 / span 1;
}

.grid-container.box img {
  width: 10rem;
  height: auto;
}

#portfolio .card {
  background-color: var(--color-light-200);
}

/* About section */

#about {
  display: none;
}

/* Contact section */

#contact {
  display: none;
}



    /* footer section  */